{% extends 'catalog/base.html' %}
{% load my_tags_filtres %}


{% block content %}
<div class="container">
    <div class="row text-center">


        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h1 class="my-0 font-weight-normal">{{ object.title | title }}</h1>
                </div>
                <div class="card-body">
                    <p>Человеко-понятный УРЛ: {{ object.slug }}</p>
                    <p>Описание: {{ object.content }}</p>
                    <p><img src="{% mediapath object.image %}" width="200px"></p>
                    <p>Дата создания: {{ object.create_date }}</p>
                    <p>Количество просмотров: {{ object.views_count }}</p>
                    <a href="{% url 'blog:update' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Редактировать</a>
                    <a href="{% url 'blog:delete' object.pk %}" type="button" class="btn btn-sm btn-outline-danger">Удалить</a>

                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}